.button {
  color: white;
  margin: 1px;
}

#gifDisplay {
  width: 100%;
      top: 30%;
      left: 0%;
}


.singerImage{
      border: solid black 1px;
      width: 120%;
      height: 120%;
      padding: 5px;
      max-height: 200px;
      max-width: 200px;
      background-color: lightgrey;
    }

    
.gifToggle, .gif{
      float:left;
      margin: 0px;
      width: 210px;
}